<!-- Footer Start -->
<div id="contact" class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Adresse</h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Boumhal el Bassatine</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+216 26 314 495</p>
        <p class="mb-2"><i class="fa fa-envelope me-2"></i>saveurslellasaida@gmail.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://www.facebook.com/profile.php?id=100083134516129"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://api.whatsapp.com/send?phone=%2B21626314495&context=AfcAqq9QuvFGcW2t2yonsvUye9uTVI1C_u2tEIzCQ9Ylrys2ZjJ2CBY7yyjMWRPs2cWBGNt_SBmavmYHhsVoHU0VlIAruzKqNC3A20JRb_VPeyVWJtSYOvGpnD2uP5NToonp2tvXvUstFvyCW2dDHaNYYQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwY2xjawLnoLVleHRuA2FlbQIxMABicmlkETFaWUxGV0ZlTEdxNnpHRmluAR6oc_h7kcKHi3Mbvr-ddCnv46KTj_mlXWsDqWZBG0NOu8BkCknF7r8BJs0VBA_aem_EanxO6-kIsFcWxw5LSW6bQ"><i class="fab fa-whatsapp"></i></a>
          <a class="btn btn-square btn-outline-light rounded-circle me-0" href="https://www.instagram.com/lellasaida?utm_source=ig_web_button_share_sheet&igsh=bXRueHM2dGdidGFn"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <h4 class="text-light mb-4">Localisation</h4>
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.464654627946!2d10.292481674200456!3d36.735416471351485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd49006b0b9b51%3A0xcb1edc16e5301883!2sP%C3%A2tisserie%20Lella%20Saida!5e0!3m2!1sfr!2stn!4v1752792184286!5m2!1sfr!2stn" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="col-lg-3 col-md-9">
        <h4 class="text-light mb-4">Photo Gallery</h4>
        <div class="row g-2">
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/samsacat.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/tarteviande.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/ghraibaCategorie.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/zouzathon.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/tartepoulpe.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/sucrecategorie.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/imgacc.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/imgacc2.jpg" alt="Image">
          </div>
          <div class="col-4">
            <img class="img-fluid bg-light rounded p-1" src="assets/img/salecategorie.jpg" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        © <a href="#">Saveurs Lella Saida</a>, tous droits réservés.
      </div>
    </div>
  </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>