<div class="container-xxl bg-light my-6 py-6">
  <div class="container">
    <h1 class="text-center display-5 mb-5 text-primary fw-bold">
      {{ category === 'cart-order' ? 'Confirmation de la commande' : 'Produits - ' + (subCategory || category | titlecase) }}
    </h1>
    <div class="row row-cols-1 row-cols-md-3 g-5" *ngIf="category !== 'cart-order'; else cartOrder">
      <div class="col" *ngFor="let product of products">
        <div class="product-card">
          <div class="product-image-container">
            <img class="product-image img-fluid" [src]="product.image" alt="{{ product.name }}">
            <div class="product-overlay"></div>
          </div>
          <div class="product-details">
            <h4 class="product-name">{{ product.name }}</h4>
            <p class="product-price">Prix de base: <span class="text-success">{{ product.price }} DT</span> (par {{ subCategory === 'Cakes' ? 'pièce' : '500g' }})</p>
          </div>
          <div class="product-actions d-flex align-items-center flex-column">
            <select class="form-select me-3 custom-select" [id]="'grammage-' + product.name" (change)="onGrammageChange($event, product)" required>
              <option value="" disabled [selected]="!selectedGrammages[product.name]">
                Choisir {{ subCategory === 'Cakes' ? 'Quantité (pièces)' : 'Quantité (g)' }}
              </option>
              <option *ngFor="let grammage of getGrammageOptions(product.subCategory)" [value]="grammage" [selected]="selectedGrammages[product.name] === grammage">
                {{ grammage }} {{ subCategory === 'Cakes' ? 'pièce(s)' : 'g' }}
              </option>
            </select>
            <button class="btn btn-primary mt-2" (click)="addToCart(product)">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #cartOrder>
      <div class="cart-order-summary">
        <h3>Récapitulatif de la commande</h3>
        <div class="row g-4" *ngFor="let item of cart">
          <div class="col-12 d-flex align-items-center">
            <img class="img-fluid me-3" [src]="item.image" alt="{{ item.name }}" style="width: 100px; height: 100px;">
            <div class="flex-grow-1">
              <h4>{{ item.name }}</h4>
              <p>Quantité: {{ item.quantity }} {{ item.subCategory === 'Cakes' ? 'pièce(s)' : 'g' }}</p>
              <p>Prix: {{ calculateTotalPrice(item) | number:'1.2-2' }} DT</p>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <button class="btn btn-primary" (click)="openOrderModal()">Passer la commande</button>
        </div>
      </div>
    </ng-template>

    <!-- Notification personnalisée -->
    <div class="custom-toast" *ngIf="showSuccessToast" [@fadeAnimation]>
      <div class="toast-content">
        <p>Produit ajouté au panier avec succès !</p>
        <div class="toast-actions">
          <button class="btn btn-outline-secondary btn-sm" (click)="continueShopping()">Continuer mes achats</button>
        </div>
      </div>
    </div>

    <!-- Modal de commande -->
    <div class="modal fade" [class.show]="showOrderModal" [style.display]="showOrderModal ? 'block' : 'none'" tabindex="-1" aria-labelledby="orderModalLabel" [attr.aria-hidden]="!showOrderModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
          <div class="modal-body">
            <h3 class="text-center mb-3">Finaliser votre commande</h3>
            <form #orderForm="ngForm">
              <div class="mb-3">
                <label for="firstName" class="form-label fw-bold">Prénom</label>
                <input type="text" class="form-control form-control-sm" id="firstName" [(ngModel)]="firstName" name="firstName" required>
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label fw-bold">Nom</label>
                <input type="text" class="form-control form-control-sm" id="lastName" [(ngModel)]="lastName" name="lastName" required>
              </div>
              <div class="mb-3">
                <label for="address" class="form-label fw-bold">Adresse</label>
                <input type="text" class="form-control form-control-sm" id="address" [(ngModel)]="address" name="address" required [disabled]="isPickup">
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label fw-bold">Téléphone</label>
                <input type="tel" class="form-control form-control-sm" id="phone" [(ngModel)]="phone" name="phone" required pattern="[0-9]{8}">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="deliveryHome" name="deliveryOption" [(ngModel)]="isPickup" [value]="false" required>
                  <label class="form-check-label" for="deliveryHome">Livraison à domicile</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="pickupStore" name="deliveryOption" [(ngModel)]="isPickup" [value]="true" required>
                  <label class="form-check-label" for="pickupStore">Retrait de la boutique</label>
                </div>
              </div>
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-sm me-2" (click)="submitOrder(orderForm)" [disabled]="!orderForm.valid">Confirmer</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="closeOrderModal()">Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>